
version: '3.8'
services:
   proxy:
      image: ergatas-nginx
      ports:
         - 443:443
         - 80:80
      depends_on:
         - web
         - fusionauth
         - postgrest
      volumes:
         - type: bind
           source: /etc/letsencrypt
           target: /etc/letsencrypt
           read_only: true
           volume: 
            nocopy: true

      networks:
         main:
            aliases:
               - auth-home.ergatas.org
               - home.ergatas.org
   web:
      image: ergatas-web
      #   ports:
      #   - 8088:8080
      depends_on: 
         - postgrest
      volumes:
         - type: bind
           source: /home/khoran/development/ergatas2
           target: /usr/src/app
           volume:
              nocopy: true
      networks:
         - main

   grafana:
      image: grafana/grafana:9.1.4
      volumes:
         - grafana-vol:/var/lib/grafana
      ports:
         - 8085:3000
      networks:
         - main

   postgrest:
      image: postgrest/postgrest:v12.2.0
      ports:
         - 3001:3000
      environment:
         PGRST_DB_URI: "postgres://postgrest_auth:${POSTGREST_PASSWORD}@db:5432/ergatas"
         PGRST_DB_SCHEMA: web
         PGRST_DB_ANON_ROLE: ergatas_web
         PGRST_DB_AGGREGATES_ENABLED: true
         PGRST_JWT_SECRET: ${JWT_SECRET}
      depends_on:
         - db
      networks:
         - main
   fusionauth:
      image: fusionauth/fusionauth-app
      depends_on:
         - db
      environment:
         DATABASE_URL: "jdbc:postgresql://db:5432/fusionauth"
         DATABASE_ROOT_USER: ${POSTGRES_USER}
         DATABASE_ROOT_PASSWORD: ${POSTGRES_PASSWORD}
         DATABASE_USER: ${FUSION_DB_USER}
         DATABASE_PASSWORD: ${FUSION_DB_PASSWORD}
         #FUSIONAUTH_MEMORY: ${FUSIONAUTH_MEMORY}
      #restart: unless-stopped
      ports:
         - 9014:9013
      volumes:
         - type: volume
           source: fusionauth_config
           target: /usr/local/fusionauth/config
      networks:
         - main

   db:
      #image: ergatas-db
      image: postgres:16.0
      ports:
         - 5435:5432
      environment:
         POSTGRES_USER: ${POSTGRES_USER}
         POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
         POSTGRES_DB: ergatas
      volumes:
         - type: volume
           source: ergatas-db-vol-16
           target: /var/lib/postgresql/data
      networks:
         - main
   loki:
      image: grafana/loki:2.6.1
      volumes:
         - ./loki.yaml:/etc/loki/local-config.yaml
         - ./loki-data:/loki
      ports:
         - 3100:3100
      networks:
         - main
           
     #promtail:
     #   image: grafana/promtail:2.6.1
     #   volumes:
     #     - ./promtail-local-config.yaml:/etc/promtail/config.yaml:ro
     #     - /var/run/docker.sock:/var/run/docker.sock
     #   command: -config.file=/etc/promtail/config.yaml
     #   networks:
     #     - main

         
volumes:
   ergatas-db-vol-16:
   fusionauth_config:
   grafana-vol:
   loki-vol:
networks:
   main:
