<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                                                 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">


<session-config>
  <session-timeout>460</session-timeout>
</session-config>

<!--
<listener>
    <listener-class>net.globalrecordings.grn_utils.GraphiteListener</listener-class>
</listener>
<listener>
		<display-name>ImageIO service provider loader/unloader</display-name>
		<listener-class>com.twelvemonkeys.servlet.image.IIOProviderContextListener</listener-class>
</listener>
-->

<filter>
  <filter-name>LiftFilter</filter-name>
  <display-name>Lift Filter</display-name>
  <description>The Filter that intercepts lift calls</description>
  <filter-class>net.liftweb.http.LiftFilter</filter-class>
</filter>
  	

<filter-mapping>
  <filter-name>LiftFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>

<security-role>
	<role-name>authenticated</role-name>
</security-role>


</web-app>
